*{
    padding: 0px;
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #141414;
    color: #f5f5f5;
    min-height: 100vh;
    justify-content: flex-start;
}
html,body{
    height: 100%;
}
main{
    height: 100vh;
}
#main2{
    padding: 5px;
    text-align: center;
    margin: auto;
    width: 55%;
    text-align: justify;
    line-height: 1.2em;
    border: 1px solid #e50914;
}
header{
    background-color: #eb6a5e;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(139, 139, 139);
}
#filho{
   flex: 0 0 auto;
}
#filho2{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: auto;
}
h1{
    padding: 5px;
    margin: 2px;
}
h3{
    text-align: center ;
    font-family: "Montserrat", sans-serif;
}
h1,h2{
    color: rgba(56, 54, 54, 0.89);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 3em;
}

#banner{
    padding: 0px;
    background:url(imagens/final\ space\ -\ season\ 1.png) no-repeat center top;
    background-size: cover;
    height: 90%;
    width: 100%;
    margin: auto;
    background-color: rgba(43, 40, 40, 0.377);
}
.item{
    padding: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    flex: auto;
    border: 1px solid #522020;
    text-align: center;
}
a:hover{
    background-color: #ff1a1a;
    color: #1a1a1f;
    transition: 0.5s;
}
a{
    color: #00F071;
    text-decoration: none;
}
#counter2{
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 500px;
}
.item2{
    flex: auto;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: aquamarine;
    border: 1px solid #4d0505;
}
#counter3{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 500px;
}
.item3{
    flex: auto;
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #4d0505;
    text-align: center;
}
.item2:hover{
    transform: scale(1.05)
}
#A{
    background: url(imagens/91x4nWCLbwL._AC_UF1000\,1000_QL80_.jpg)no-repeat center center;
    background-size: cover;
    height: 400px;
}

#B{
    background: url(imagens/MV5BMTM0MjUzNjkwMl5BMl5BanBnXkFtZTcwNjY0OTk1Mw@@._V1_.jpg) no-repeat center bottom;
    background-size: cover;
    height: 400px;
}
#C{
    background: url(imagens/unnamed-1-1.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
}
#D{
    background: url(imagens/images.jpeg) no-repeat center center;
    background-size: cover;
    height: 400px;
}
footer{
    height: 70px;
    border: 1px solid #e50914;
    padding: 5px;
    text-align: center;
}
#img1{
    padding: 0px;
    border: 1px solid #4d0505;
    width: 100%;

}